<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Movie Recommendations</title>
  </head>
  <body>
    <h1>Movie Recommendation System</h1>
    <form method="POST">
      <input
        type="text"
        name="description"
        id="description"
        placeholder="Enter your movie description here........"
        required
      />
      <label for="top_n">Number of recommendations:</label>
      <input type="number" name="top_n" id="top_n" value="5" min="1" max="10" />
      <button type="submit">Get Recommendations</button>
    </form>

    <h2>Recommendations</h2>

    <ul>
      {% for movie in recommendations %}
      <li><b>{{ movie['title'] }} :</b> {{ movie['description'] }}</li>
      {% endfor %}
    </ul>
  </body>
</html>
